[submodule "modules/lrncfly"]
  path = modules/lrncfly
  url = https://github.com/lrncfly/qmk_modules.git
[submodule "modules/Bastardkb"]
	path = modules/Bastardkb
	url = https://github.com/Bastardkb/qmk_modules.git
